/* CLASS SECTION */
.title-header {
    color: rgb(104, 157, 241);
    font-size: 10rem;
    padding-bottom: 5%;
    font-family: 'Bangers', cursive;
    letter-spacing: 5px;

}

.player {
    font-size: 4rem;
    padding-bottom: 30px;
    color: rgb(104, 157, 241);
    font-family: 'Bangers', cursive;
}

.btn {
    margin-bottom: 3%;
    font-size: 3rem;
    padding: 2% 4%;
    font-family: 'Bangers', cursive;
}


.footer-link {
    font-size: 2.5rem;
    padding: 0 3%;
    color: #fff;
}

.footer-link:hover {
    color: rgb(163, 163, 163);
}

.footer-txt {
    padding-top: 20px;
    font-size: 1.2rem;
}

/* ID SECTION */ 

#footer {
    margin-top: 8%;
    padding-top: 50px;
    padding-bottom: 10x;
    color: white;

}

/* TAG SECTION */

body {
    padding: 4% 15% 0 15%;
    background-color: #34353F;
    text-align: center;
}

@media (max-width: 900px) {
    .title-header {
        font-size: 6rem;
    }
    .player {
        font-size: 3rem;
    }
}